<nav class="my-navbar navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" routerLink="/" style="margin-left: 10px; display: flex; align-items: center; cursor: pointer;">
    <img src="../assets/img/BEn_logo2.png" height="50" class="d-inline-block align-top" alt="" style="border-radius: 7%;">
    <span style="color: #f4f4f4; font-size: 25px; margin-left: 15px;"> Babylonian Engine</span>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a class="nav-link" routerLink="cured">CuReD</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="cure">CuRe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="yolo-training">Layout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="library">Library</a>
      </li>
    </ul>

    <!-- Dynamic toolbar area -->
    <div class="navbar-toolbar" *ngIf="toolbarState$ | async as state">
      <!-- Back button -->
      <button *ngIf="state.backAction" class="toolbar-btn toolbar-btn-back" (click)="state.backAction()">
        <mat-icon>arrow_back</mat-icon>
      </button>

      <!-- Message -->
      <span *ngIf="state.message" class="toolbar-message">{{state.message}}</span>

      <!-- Spacer -->
      <span class="spacer"></span>

      <!-- Action buttons -->
      <button *ngFor="let btn of state.buttons"
              class="toolbar-btn"
              [class.toolbar-btn-primary]="btn.color === 'primary'"
              [class.toolbar-btn-accent]="btn.color === 'accent'"
              [class.toolbar-btn-warn]="btn.color === 'warn'"
              [class.toolbar-btn-pink]="btn.color === 'pink'"
              [disabled]="btn.disabled"
              (click)="btn.action()">
        <mat-icon *ngIf="btn.icon">{{btn.icon}}</mat-icon>
        <span>{{btn.label}}</span>
      </button>
    </div>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="settings">Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about">About</a>
      </li>
    </ul>
  </div>
</nav>


<div>
  <router-outlet></router-outlet>
</div>
