.cdk-overlay-container {
    position: "absolute";
    width: "100%";
    height : "1700px";
    z-index : "10";
    background: "#000";
    opacity: 0.5;
}
  


.action-label {
    margin-bottom: 1em;
}

.amendment-container {
    display: flex;
}


.top-container {
    
    height: 5% !important;
    // width: 40%;
    // align-items: start;
    width: 50%;
    position: relative;
    align-items: stretch;
    display: flex;                 // And you will probably need this too.
    flex-direction: column;
    justify-content: space-between;

    .metadata-comp, .letter-viewer, .buttons-container {
        margin: 1%;
    }

    .metadata-comp {
        float: right;
        width: 20%;
        // align-self: center;  
        // height: 9em;
    }

    .letter-viewer {
        // flex-grow: 1;
        width: 45%;
        max-width: 45%;
    }

    .buttons-container {
        // width: 30%;
        display: inline-grid;
        margin-right: 2%;
        position: relative;
        float: left;
        margin-top: 2%;
     
        
        button {
            display: block;
            margin: 0.2%;
        }

        .real-container {
            display: inline-flex;
            position: relative;
            // height: 100;
            flex-direction: column;
            width: fit-content;
            flex-wrap: nowrap;
            justify-content: center;
        }

    }

}

.flex-one {
    flex: 1 !important;
}

.instructions {
    margin-top: 20px;
    padding: 20px;
    background-color: #d6d6d673;
    border-radius: 25px;

    button {
        display: inline;
        height: 2em;
        width: 2em;
        float: right;
    }
}

.metadata {
    margin: 0 .5em;
    padding: .5em;
    /* important */
    max-height: 5%;
    display: inline-block;
    width: 100%;
}

.metadata-comp {
    margin-top: 1em;
}

mat-spinner {
    margin: auto
}



.content-container {

    width: 50%;

    .viewers-container {

        display: flex;
        justify-content: space-between;
        
        width: 100%;

        .predictions-container, .transliteration-container {
            // width: 25%;
            // display: inline;
        }

        fabric-canvas {
            // flex-grow: 1;
            // transition: width 2s;

        }

        .predictions-container {
            transition: width 1s;
            display: flex;
            flex-direction: column;
            // flex-wrap: wrap;
            // justify-content: center;
            align-items: center;
        }
    

        text-viewer {
            float: left;
            display: block;
            margin-left: 10px;
            margin-bottom: 10px;
            padding-right: 0 !important;
        }

    }

    #predictionsTextViewer {
        margin: 2em;
    }
    

}

