<!-- 
<div class="instructions">
    <h2 style="display: inline">Let's amend!</h2>
    <button *ngIf="showInstructions" (click)="showInstructions = false">-</button>
    <button *ngIf="!showInstructions" (click)="showInstructions = true">+</button>

    <p *ngIf="showInstructions">It's time to improve our AI. Start by pressing "Load new image!"</p>
    <p *ngIf="showInstructions">Then press "Submit for AI prediction", if this button is disabled, you should firstly fix the bounding boxes.</p>
</div> -->
<div class="amendment-container">
    <div class="top-container">
        <div class="buttons-container" style="display: flex; align-items: center;">
            <div class="real-container">
                <div style="display: flex; align-items: stretch;">
                    <!-- <div class="flex-one">
                        <input matInput type="number" min="1" aria-label="custom text id" [(ngModel)]="requestedTextId" style="width: 100%; border: 1px solid black;">
                        <button mat-stroked-button (click)="loadStageOne(true)" style="width: 100%">Load text</button>
                    </div>
                    <button mat-stroked-button class="flex-one" (click)="loadStageOne()">Load random text</button> -->
                    <div style="width: 8em;">
                        <input matInput type="number" min="1" aria-label="custom text id" [(ngModel)]="requestedTextId" style="width: 100%; border: 1px solid black;">
                        <button mat-stroked-button (click)="loadStageOne(true)" style="width: 100%">Load text</button>
                    </div>

                    <button mat-stroked-button color="primary" (click)="uploadFile.click()">
                        <span style="display: flex; align-items: center;">
                            <span>Upload</span>
                            <mat-icon aria-hidden="false" class="add-icon" style="margin-left: 3px;">upload_file</mat-icon>
                        </span>
                    </button>

                    <input #uploadFile (change)="onFileSelected($event)" type='file' style="display:none"/>

                    <!-- <button mat-stroked-button (click)="findText()">
                        <span style="display: flex; align-items: center;">
                            <span>Find</span>
                            <mat-icon aria-hidden="false" class="add-icon" style="margin-left: 3px;">search</mat-icon>
                        </span>
                    </button> -->

    

                    <button class="submit-button" mat-stroked-button (click)="showMetadata()">
                        <span style="display: flex; align-items: center;">
                            <span>Metadata</span>
                            <mat-icon aria-hidden="false" class="add-icon" style="margin-left: 3px;">analytics</mat-icon>
                        </span>
                    </button>               
                    <!-- <button mat-stroked-button color="primary" class="flex-one" (click)="uploadPdf()">Upload pdf</button> -->
                </div>

                <div style="display: flex">

                    <button *ngIf="showGetPredictions || transliterations.length != 0 && !textIsFixed" class="submit-button" mat-stroked-button [matMenuTriggerFor]="menu2">
                        <span style="display: flex; align-items: center;">
                            <span *ngIf="!isSubmitLoading">Use AI</span>
                            <mat-icon *ngIf="!isSubmitLoading" aria-hidden="false" class="add-icon" style="margin-left: 3px;">psychology</mat-icon>
                        </span>
                    </button>
                    <mat-menu #menu2="matMenu">
                        <button mat-menu-item (click)="getPredictions()" [disabled]="!showGetPredictions && boundingBoxes.length == 0">
                            <span >{{isTextWithTransliterations ? "Get AI predictions" : "Generate transliterations with AI"}}</span>
                            <mat-icon *ngIf="!isSubmitLoading" aria-hidden="false" class="add-icon" style="margin-left: 3px;">translate</mat-icon>
                            <mat-spinner *ngIf="arePredictionsLoading" diameter="30"></mat-spinner>
                        </button>
                        <button mat-menu-item (click)="regenerateBoxes()">
                            <span>Generate AI boxes</span>
                            <mat-icon *ngIf="!isSubmitLoading" aria-hidden="false" class="add-icon" style="margin-left: 3px;">dashboard</mat-icon>
                            <mat-spinner *ngIf="arePredictionsLoading" diameter="30"></mat-spinner>
                        </button>
                    </mat-menu>

                    <button *ngIf="textIsFixed" class="submit-button" style=" background-color: #aad5aa;" mat-raised-button color="green" [disabled]="true">
                        <span style="display: flex; justify-content: center; align-items: center;">
                            Text fixed 
                            <mat-icon aria-hidden="false" class="add-icon" style="margin-left: 0.2em; margin-bottom: 0.2em;">done</mat-icon></span>
                    </button>
                    <button *ngIf="textIsFixed" (click)="setInProgress()" class="submit-button" style=" background-color: #e0e389;" mat-raised-button color="yellow">
                        <span style="display: flex; justify-content: center; align-items: center;">
                            Set in progress
                            <mat-icon aria-hidden="false" class="add-icon" style="margin-left: 0.2em; margin-bottom: 0.2em;">undo</mat-icon></span>
                    </button>


                    <button *ngIf="transliterations.length != 0 && !textIsFixed" class="submit-button" mat-stroked-button [matMenuTriggerFor]="menu">
                        <span style="display: flex; align-items: center;">
                            <span *ngIf="!isSubmitLoading">Save</span>
                            <mat-icon *ngIf="!isSubmitLoading" aria-hidden="false" class="add-icon" style="margin-left: 3px;">save</mat-icon>
                        </span>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button class="submit-button" mat-menu-item (click)="saveWorkInProgress()">
                            <span *ngIf="!isSubmitLoading">Save progress</span>
                            <mat-icon *ngIf="!isSubmitLoading" aria-hidden="false" class="add-icon" style="margin-left: 3px;">star_half</mat-icon>
                            <mat-spinner diameter="30" *ngIf="isSubmitLoading"></mat-spinner>
                        </button>
                        <button mat-menu-item (click)="submitAll()">
                            <span style="display: flex; align-items: center;">
                                <span *ngIf="!isSubmitLoading">Save as completed </span>
                                <mat-icon *ngIf="!isSubmitLoading" aria-hidden="false" class="add-icon" style="margin-left: 3px;">verified</mat-icon>
                                <mat-spinner diameter="30" *ngIf="isSubmitLoading"></mat-spinner>
                            </span>
                        </button>
                    </mat-menu>

                    <button class="submit-button" mat-stroked-button (click)="detectronSettings()">
                        <span style="display: flex; align-items: center;">
                            <span>Settings</span>
                            <mat-icon aria-hidden="false" class="add-icon" style="margin-left: 3px;">settings</mat-icon>
                        </span>
                    </button>
                </div>
            

            </div>

            <letter-viewer class="letter-viewer" style="margin: 0 2em" #letterViewer [isEditMode]="false" [hidden]="activeLetterIndex == null"
            [signs]="signs">
            </letter-viewer>
        </div>
  
        <fabric-canvas  #canvas style="width: 95%;"
          [canvasType]="canvasType" (boxAdded)="boxAdded($event)" (boxDeleted)="boxDeleted($event)" (modeChange)="modeChanged($event)"
        (selectionChange)="boxSelectionChanged($event)" (boxMarkToggle)="boxMarkToggle($event)" (combineBoxesEmitter)="combineBoxes()"
        [isLoading]="showLoadingCanvas"></fabric-canvas>

        <!-- <meta-viewer *ngIf="true || metadata && showMetadata" class="child metadata-comp" style="flex: 1" [metadata]="metadata"></meta-viewer> -->
    </div>

    <div class="content-container">
    
        <mat-spinner *ngIf="arePredictionsLoading && !isTextWithTransliterations"></mat-spinner>

        <text-viewer  #transliterationTextViewer
            class="transliteration-container"
            style="top: 0px; transition: 1s; margin: 0px !important; width: 52%" 
            [style.visibility]="transliterations.length == 0 ? 'hidden': 'visible'"
            [badLines]="badLines" [title]="'Transliterations'"
            [isTransliterationViewer]="true"
            [isLoadingPredictions]="arePredictionsLoading"
            [signs]="signs"
            [unicodesToSigns]="unicodeToSigns"
            (letterHover)="transliterationLetterHover($event)"
            (lineChanged)="transliterationChanged($event)"
            (repredictSignEmitter)="repredictBoxes($event)"
            (getSignPrediction)="repredictBoxes($event, true)">lineChanged
        </text-viewer>
        
    </div>

</div>
