<div style="width: 45em;">
  <div mat-dialog-title class="dialog-title" style="display: flex; flex-direction: row; justify-content: space-between;">
      <h2>Cure settings</h2>
      <button mat-stroked-button mat-dialog-close style="float: right;">Close</button>
  </div>
  <div mat-dialog-content>
    <h1 style="display: block;">Boxes</h1>
    
    <div style="display: flex; flex-direction: column; align-items: flex-start;">
      <button class="submit-button" style=" margin-bottom: 1em" mat-stroked-button (click)="exportAll()">
        <span style="display: flex; align-items: center;">
            <span>Export text</span>
            <mat-icon aria-hidden="false" class="add-icon" style="margin-left: 3px;">file_download</mat-icon>
          </span>
      </button>
      
      <button class="submit-button" style="margin-bottom: 1em" mat-stroked-button (click)="exportBoxes()">
        Export boxes
      </button>

      <button class="submit-button" style="margin-bottom: 1em" mat-stroked-button (click)="cleanBoxes()">
        Clean boxes
      </button>
        
      <button class="submit-button" mat-stroked-button (click)="uploadJson.click()">
          Import boxes
      </button>

    </div>

    <input #uploadJson (change)="onJsonSelected($event)" type='file' style="display:none"/>


    <h1 style="display: block; margin-top: 1em;">Detectron</h1>
    <p>
      Detectron is a dynamic detection AI, the best we can give you.<br>
      When disabled, we'll use a faster static algorithm instead.
    </p>
    <mat-slide-toggle
            class="example-margin" [labelPosition]="'before'"
            [(ngModel)]="data.useDetectron">
          Use detectron
    </mat-slide-toggle>
    <br>




    <h3 style="display: block; margin-top: 1em;">Detectron seneitivity</h3>
    <p>
      Detectron sensitivity determines how sure the AI needs to be to consider something a sign.<br>
      The larger the sensitivity is, the less false-positives the AI would do.<br>
      Small sensitivty number, like 0.1, would help when the image is blurry. However, it might cause a lot of false-positives.<br>
      We recommend using 0.5.
    </p>
    <mat-slider [disabled]="!data.useDetectron" [(ngModel)]="data.detectronSensitivity" [thumbLabel]="true" 
               [max]="1" [min]="0.01" [step]="0.01"></mat-slider>
    <span>{{data.detectronSensitivity}}</span>
    <br>
    <button style="margin-top: 2em" mat-stroked-button (click)="save()">Save settings for next time</button>
  </div>  
</div>