<h2 mat-dialog-title>Edit transliterations Guide</h2>
<mat-dialog-content class="mat-typography">
  <h3>There are many tools that may help you to fix the AI generated transliterations (scroll down to see them all).</h3>
  <hr>

  <div class="p-image-container">
    <p>You can move signs around.</p>
    <img src="/assets/gif/moveletters.gif" height="100">
  </div>
  <hr>
  <div class="p-image-container">
    <p>You can edit the signs.</p>
    <img src="/assets/gif/editalone.gif" height="350">
  </div>
  <hr>

  <div class="p-image-container">
    <p>You can ask the AI what it thinks about a sign.</p>
    <img src="/assets/gif/editai.gif" height="250">
  </div>
  <hr>

  <div class="p-image-container">
    <p>You can repredict an existing sign using the AI.</p>
    <img src="/assets/gif/repredict.gif" height="200">
  </div>
  <hr>

  <div class="p-image-container">
    <p>You can add an empty box, put it in place, and get a prediction for it.</p>
    <img src="/assets/gif/flow.gif" height="250">
  </div>
  <hr>

  <div class="p-image-container">
    <p>Not sure about a sign? add a mark to it!</p>
    <img src="/assets/gif/marksign.gif" height="300">
  </div>
  <hr>

  <div class="p-image-container">
    <p>You can remove signs.</p>
    <img src="/assets/gif/removesigns.gif" height="200">
  </div>
  <hr>

  <div class="p-image-container">
    <p>You can move lines.</p>
    <img src="/assets/gif/movelines.gif" height="250">
  </div>
  <hr>

  <div class="p-image-container">
    <p>You can change the sign's font if you like.</p>
    <img src="/assets/gif/togglefont.gif" height="500">
  </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button [mat-dialog-close]="true" cdkFocusInitial>Ok, Let's go!</button>
</mat-dialog-actions>