<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>
<div #container class="container mega-container" [class.spinner]="isLoading">
    <mat-button-toggle-group *ngIf="canvasType !== 'SingleSelection'" #actionGroup [value]="selectedMode" name="fontStyle" aria-label="Font Style" (change)="changeMode($event.value)">

        <mat-button-toggle *ngFor="let action of allowedActions" value="{{action.name}}" matTooltip="{{action.tooltip}}"
         matTooltipHideDelay="100" matTooltipPosition="below">
          <mat-icon aria-hidden="false">{{action.icon}}</mat-icon>
        </mat-button-toggle>


    </mat-button-toggle-group>

    <button *ngIf="canvasType == 'Drawing'" mat-stroked-button (click)="clearCanvas()">Clear</button>

    <div *ngIf="canvasType == 'Drawing'">
        <div *ngIf="isDrawingMode()" class="brush-container" >
            Brush width
            <mat-slider aria-label="unit(s)" (change)="brushSizeChange($event)" [thumbLabel]="true"  [max]="30" [min]="1" [value]="10" matTooltip="brush width"></mat-slider>
        </div>
        
        <mat-button-toggle-group *ngIf="isTemplateMode()" [value]="selectedTemplate" #templateGroup (change)="changeTemplate($event.value)" name="fontStyle" aria-label="Font Style" >
            
            <mat-button-toggle *ngFor="let template of drawTemplates; index as templateIndex" value="{{templateIndex}}" matTooltip="alt + {{templateIndex+1}}"
             matTooltipHideDelay="200" matTooltipPosition="below">
                <img class="a-template" height="40px" src="{{template.src}}"/>
            </mat-button-toggle>
            
      
        </mat-button-toggle-group>
        
    </div>
    
    
    <button *ngIf="selectedMode === allCanvasModes.Combine" mat-stroked-button (click)="combineSelected()">Combine</button>

    <canvas class="mycanvas" id="canvas" #htmlCanvas ></canvas>

</div>


