/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: none;
    // background-color: navajowhite;
  }
  
  /* Track */
  //   ::-webkit-scrollbar-track {
  //     background: #f1f1f1;
  //   }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  
  .example-list {
    // width: 1000px;
    overflow: scroll !important;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 3em;
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 4px;
    margin-top: 1px;
    margin-left: 0px;
    margin-bottom: 2px;
  }
  
  .add-button {
    background: none;
    border: none;
    color: rgb(0, 175, 0);
    margin-right: 5px;
    border-radius: 50%;
    transition: 1s;
  }
  
  .cancel-button {
    background: lightgray;
    border: none;
    margin-right: 5px;
    border-radius: 10%;
    transition: 1s;
    align-self: center;
  
    display: block;
  }
  
  .cancel-button:hover {
    background-color: gray;
    transition: 1s;
  }
  
  .add-icon:hover {
    border-radius: 70%;
    background-color: rgb(0, 175, 0);
    color: white;
    transition: 1s;
  }
  
  
  
  .example-box {
    // padding: 20px 10px;
    border: solid 1px rgb(39, 39, 39);
    border-radius: 10%;
    // color: rgba(0, 0, 0, 0.87);   
    cursor: move;
    // background: white;
    // font-size: 14px;
    
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    // border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
  
  .lines-holder {
    display: flex;
  }
  
  .original-transliteration {
  background: none;
  }
  
  .delete-line-button {
    font-size: 1em;
    width: fit-content;
    margin-right: 0px;
    padding: 0.3em;
    align-self: center;
    background: lightgray;
    margin-bottom: 0.4em;
    border: none;
    border-radius: 10%;
    transition: 1s;
    display: block;
  }
  
  .delete-line-button:hover {
    background-color: gray;
    transition: 1s;
  }
  
  
  .robot-icon {
    border-radius: 70%;
    // background-color: rgb(0, 0, 0);
    color: white;
    transition: 1s;
  }
  
  .robot-icon:hover {
    animation: rotate 1.5s linear infinite; 
  }
  
  .rotate{
    animation: rotate 1.5s linear infinite; 
  }
  @keyframes rotate{
    to{ transform: rotate(360deg); }
  }
  
  
  #container {
    background-color: #f8f8f870;
    height: fit-content;
    width: 100%;
    padding: 10px;
    max-height: 55em;
  
    .title-container {
      text-align: center;
  
      .my-title {
        text-align: center;
        font-size: large;
        font-family: inherit;
        margin-bottom: 10px;
        text-decoration-line: underline;
        display: contents;
      }
  
      .start-edit-button {
        float: right;
      }
    }
  
    
  
    .real-container {
      overflow-y: scroll;
      overflow-x: hidden;
      max-height: 46em;
      display: flex;
      flex-direction: column;
    }
  
    
  
  
    span {
        display: block;
  
        span {
            display: inline;
            margin-right: 15px;
            margin-left: 5px;
            font-size: 15px;
        }
  
        .comment {
            display: block;
            // margin-bottom: 5px;
            // margin-left: 27px;
            font-size: 14px;
            background-color: rgb(200 0 0 / 14%);
        }
  
        p {
            display: inline;
        }
  
        .signs-p {
            display: block;
            margin-left: 30px;
            margin-top: 5px;
        }
    }
  
  
  
    .original-transliteration {
        display: inline-block !important;
        // font-style: italic;
        font-size: medium;
        
    }
  
    .symbols-p {
        // margin-left: 28px;
  
        // display: block !important;
    }
    
    // span::after {
    //     content: '&nbsp;';
    //   }
  }
  
  app-letter {
    // transition: 0.3s;
      span {
          display: inline-block;
          font-size: larger;
          font-family: system-ui;
      }
  }


  .comment {
    display: block;
    // margin-bottom: 5px;
    // margin-left: 27px;
    font-size: 14px;
    background-color: rgb(200 0 0 / 14%);
}