<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>
<div *ngIf="lines" id="container" class="mega-container">

    <div class="title-container" [ngStyle]="{'height': getBadLineMessage() == null ? '3em' : '5em'}">
        <div>
            <div class="my-title">{{title}}</div>
            <button *ngIf="!isEditMode && canEdit" (click)="startEditing()" class="add-button start-edit-button" style="font-size: xx-large;">
                <mat-icon aria-hidden="false" class="add-icon">edit</mat-icon>
            </button>
            <button *ngIf="isEditMode" (click)="stopEditing()" class="start-edit-button cancel-button" style="font-size: small;">Stop editing
            </button>
            <button *ngIf="isEditMode" (click)="showAddLines= !showAddLines" class="start-edit-button cancel-button">
                Toggle add lines
            </button>
        </div>
        <span class="comment" *ngIf="getBadLineMessage() != null"
        style="white-space: pre-line; display: flex; border-radius: 0.5em;
         padding: 0.3em; width: fit-content; margin-top: 0.5em; display: inline-flex;" >
       <mat-icon aria-hidden="false" class="add-icon">error</mat-icon>
       <span>{{getBadLineMessage()}}</span>
   </span>
    </div>

    <div cdkDropList cdkDropListOrientation="vertical" (cdkDropListDropped)="lineDrop($event)"
     id="lines-list" class="real-container" style="width: inherit;">
        <hr *ngIf="isEditMode && showAddLines">
        <button *ngIf="isEditMode && showAddLines" (click)="addLine(-1)" style="margin-bottom: 1em;" class="delete-line-button">
            Add line here
        </button>
        <span *ngFor="let line of lines; index as lineIndex; first as isFirst; last as isLast" style="display: flex; flex-direction: column;">
            <hr *ngIf="isEditMode && isFirst">
            <div class="lines-holder">
                
                <div style="display: flex; flex-direction: column; justify-content: space-between; margin-right: 1em;">
                    <div style="display: flex; flex-direction: row; align-items: center;">
                        <span style="font-weight: bold; margin-right: .5em;">{{lineIndex + 1}}. </span>  
                    </div>
                </div>

                <div style="display: flex; flex-direction: column; align-items: flex-start; width: 100%">
                    <div *ngIf="isEditMode && !showAddLines" style="margin-right: 1em;" >
                        <div style="display: flex; margin-bottom: 0.4em;">
                            <div style="display: flex; justify-content: center; flex-direction: row;">
           
                                <button (click)="deleteLine(lineIndex)" class="delete-line-button" style="margin-top: 0.3em;"
                                        matTooltip="Delete the line" matTooltipHideDelay="100" matTooltipPosition="above">
                                    Delete line
                                </button>
                                <button (click)="capitlize(lineIndex)" class="start-edit-button cancel-button" style="margin-left: 1em;"
                                        matTooltip="Capitlize selection (alt+u)" matTooltipHideDelay="100" matTooltipPosition="above">
                                    Uppercase
                                </button>
                                <button (click)="lower(lineIndex)" class="start-edit-button cancel-button" style="margin-left: 1em;"
                                        matTooltip="Lower selection (alt+l)" matTooltipHideDelay="100" matTooltipPosition="above">
                                    Lowercase
                                </button>
                                <button (click)="wrap(lineIndex)" class="start-edit-button cancel-button" style="margin-left: 1em;"
                                matTooltip="Wrap selection (alt+w)" matTooltipHideDelay="100" matTooltipPosition="above">
                                    Wrap/unwrap in "{{'{}'}}"
                                </button>
    
                            </div>
                           
                        </div>
                     
                    </div>
                  
        
                    <div class="inner-lines-holder" style="overflow: scroll; transition: 1s;" [style.width]="isEditMode ? '100%' : ''">
        
                        <app-letter #theletter 
                        [LetterModel]="lines[lineIndex]" class="example-box" [showCustomFont]="false"
                        (toggle)="onLineToggle($event, lineIndex)" (lineFocus)="onLineFocus($event, lineIndex)" [showSymbol] = "false"
                        [style.border]="theletter.getBorder()"
                        [style.cursor]="theletter.getCursor()" [editMode]="isEditMode"
                        (click)="theletter.onClick()" (mouseenter)="theletter.enter($event)" (mouseleave)="theletter.leave($event)"></app-letter>
                    </div>
                </div>


                </div>
                
                
            <hr>
            <button *ngIf="isEditMode && showAddLines" (click)="addLine(lineIndex)" style="margin-bottom: 1em;" class="delete-line-button">
                Add line here
            </button>
            <hr *ngIf="isEditMode && showAddLines && !isLast">
        </span>
    </div>
 


</div>

