<div class="letter-container" style="height: 5em;"  [style.border]="!isEditMode ? '1px solid black' : '1px solid #ed4747'">

    <div class="child">
      <span class="img-span">
        <img *ngIf="letterView && letterView.dimensions != null" style="max-width: 7em !important;"
          class="letter-source" [style.width.px]="(60 /  letterView.dimensions.height) * letterView.dimensions.width" 
        [style.height.px]="60" src="{{letterView.imageData}}" />
      </span>
    </div>

    <div class="child">
      <span *ngIf="transliteration != null" class="img-span">{{transliteration.letter}}
          <span style="font-family: Esagil; display: contents; font-size: 2rem;"> - {{transliteration.symbol}}</span></span>
        
      <span *ngIf="transliteration == null" class="img-span">?? - ??</span>

      <hr *ngIf="prediction">
      <span class="prediction" *ngIf="prediction">AI Prediction: {{prediction.letter}} - {{prediction.symbol}}</span>


    </div>

      
</div>
