.letter-container {
    box-shadow: 5px 2px #88888857;
    border: 1px solid #000000bf;
    border-radius: 3%;
    // height: 100%;

    // display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    // width: fit-content;

  
    .child {
        // flex: 1;
        margin: 0 .5em;
        padding: .5em;
        /* important */
        // min-height: 100%;
        display: block;
        // width: 100%;
    }
    
    .img-span {
        text-align: center;

    }

    * {
        display: block;
    }

    img {
        display: inline-block;
        max-width: 100% !important;
    }

    span {
        margin: 1%;
        font-size: 20px;
        width: max-content;
    }

    .letter-source {
        border: 1px solid black;
        border-radius: 7%;
    }

    .example-form {
        margin-top: 5%;
    }
}

.prediction {
    font-size: 20px;
}