.page-div  
{
    display: flex;
    padding: 1em;
    align-self: center;
    align-items: center;
    flex-direction: column;

    p {
        margin-top: .5em;
    }
}

.pages-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1em;
}

.action-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.5em;
    
    span {
        margin-left: 1em;
    }
}

.trans-result {
    display: block;
    // padding: 1em 2em;
    margin-left: 1em;
    border-radius: 7px;
    // padding: 2em;
    max-height: 70vh;
    transition: 1s; 
    width: 58%; 

}

.pagescount {
    margin-left: 1em;
    margin-right: 1em;
}


.mega-container {
    box-shadow: 5px 2px #88888857;
    border: 1px px solid #000000bf;
    border-radius: 3%;
}

.big-container {
    height: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.action-label {
    margin-bottom: 1em;
}


.top-container {
    
    height: 5% !important;
    // width: 40%;
    display: flex;
    align-items: flex-start;
    width: -webkit-fill-available;
    position: relative;

    display: flex;                 // And you will probably need this too.
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .metadata-comp, .letter-viewer, .buttons-container {
        margin: 1%;
    }

    .metadata-comp {
        float: right;
        width: 20%;
        // align-self: center;  
        // height: 9em;
    }

    .letter-viewer {
        flex-grow: 1;
    }

    .buttons-container {
        // width: 30%;
        display: inline-grid;
        margin-right: 2%;
        position: relative;
        float: left;
        margin-top: 0;
        button {
            display: block;
            margin: 0.2%;
        }

        .real-container {
            display: inline-flex;
            position: relative;
            // height: 100;
            flex-direction: column;
            width: -webkit-fill-available;
            flex-wrap: nowrap;
            justify-content: center;
        }

    }

}

.flex-one {
    flex: 1 !important;
}

.robot-icon {
    border-radius: 70%;
    // background-color: rgb(0, 0, 0);
    color: white;
    transition: 1s;
}

p {
    font-size: medium;
}


.rotate{
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.instructions {
    margin-top: 20px;
    padding: 20px;
    background-color: #d6d6d673;
    border-radius: 25px;
    display: flex;
    flex-direction: column;

    // button {
    //     display: inline;
    //     height: 2em;
    //     width: 2em;
    //     float: right;
    // }

    .instructions-button {
        float: left;
        width: fit-content;
        margin-right: 0.5em ;
    }
}

.metadata {
    margin: 0 .5em;
    padding: .5em;
    /* important */
    max-height: 5%;
    display: inline-block;
    width: 100%;
}

.metadata-comp {
    margin-top: 1em;
}

mat-spinner {
    margin: auto
}

.stage-1-content-container {
    margin-top: 1vw;

}

.stage-1-viewers-container {
    justify-content: center !important;
}

.instructions-button {
    float: left;
}


.content-container {

    // margin-top: 20px;

    // fabric-canvas {
    //     display: inline-block;
    // }

    .viewers-container {

        display: flex;
        justify-content: space-between;
        
        width: 100%;

        .predictions-container, .transliteration-container {
            // width: 25%;
            // display: inline;
        }

        fabric-canvas {
            // flex-grow: 1;
            // transition: width 2s;

        }

        .predictions-container {
            transition: width 1s;
            display: flex;
            flex-direction: column;
            // flex-wrap: wrap;
            // justify-content: center;
            align-items: center;
        }
    

        text-viewer {
            float: left;
            display: block;
            margin-left: 10px;
            margin-bottom: 10px;
            padding-right: 0 !important;
        }

    }

    #predictionsTextViewer {
        margin: 2em;
    }
    

}

