

.id-box {
    display: flex;
    flex-direction: row;
    align-items: center;
  
    a {
        width: -webkit-fill-available;
    }
  
    * {
        margin: 0.5em;
    }
  
  }

  .super-wide{
}