<!-- 
<mat-card cdkFocusInitial>
    <mat-card-header>
      <mat-card-title>Text finder</mat-card-title>
    </mat-card-header>

    <mat-card-content> -->
        <div style="display: flex; flex-direction: column; align-items: flex-start;">
          <div>
              <span>Fill at least one identifier of the text</span>
              <div style="display: flex; flex-direction: row; align-items: center;">
                  
                  <text-identifiers [textIdentifiers]="textIdentifiers" [museums]="museums"></text-identifiers>
                  
                  <div style="margin-left: 3em; display: flex; flex-direction: column;">
                    <button mat-stroked-button class="search-button" (click)="searchByIdentifiers()" [disabled]="!canSearchByIdentifiers()">
                      Search by text identifiers
                    </button>
                    <div class="create-it" *ngIf="searchGotNoResult && showCreateOnNoResult">
                      There is no text with such identifiers.
                      <button mat-stroked-button class="search2-button" (click)="create()">
                        Create a new text!
                      </button>
                    </div>
               
                  </div>  
              </div>
              <mat-divider></mat-divider>
            </div>
          <div style="margin-top: 1em;">

              <span>It's an existing text, I know its BEN no.</span>
              <div style="display: flex; flex-direction: row; align-items: center;">
                <div style="display: flex; flex-direction: column;">
                  <div class="id-box" style="margin-top: 1em;">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>BEN no.</mat-label>
                        <input type="number" matInput [(ngModel)]="benNumber" placeholder="123456789">
                    </mat-form-field>
                  </div>  
                </div>
                <div style="margin-left: 3em;">
                  <button mat-stroked-button class="search-button" (click)="searchByBen()" [disabled]="benNumber == null">
                    Search by BEN no.
                  </button>
                </div>
              </div>
          </div>

        


      </div>  
<!-- 
    </mat-card-content>

</mat-card> -->