<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>
<!-- <div class="edit-box">
    <p style="font-size: larger">
        Edit panel
    </p>
</div> -->
<div *ngIf="letters" id="container" class="mega-container" style="max-height: 59.5em; margin-top: 1em">

    <div class="title-container">
        <div class="my-title">{{title}}</div>
        <button (click)="showCustomFont = !showCustomFont" class="start-edit-button cancel-button">
            Toggle font
        </button>
        <button *ngIf="isTransliterationViewer && !isEditMode && canEdit" (click)="startEditing()" class="add-button start-edit-button" style="font-size: xx-large;">
            <mat-icon aria-hidden="false" class="add-icon">edit</mat-icon>
        </button>
        <button *ngIf="isTransliterationViewer && isEditMode" (click)="stopEditing()" class="start-edit-button cancel-button" style="font-size: small;">Stop editing
        </button>
        <button *ngIf="isTransliterationViewer && isEditMode" (click)="showAddLines= !showAddLines" class="start-edit-button cancel-button">
            Toggle add lines
        </button>
        <button *ngIf="isTransliterationViewer && isEditMode" (click)="dragLinesEnabled= !dragLinesEnabled" class="start-edit-button cancel-button">
            Toggle drag lines
        </button>
    </div>

    <hr *ngIf="showAddLines" style="height: 1px; margin: 0px;">

    <div cdkDropList cdkDropListOrientation="vertical" (cdkDropListDropped)="lineDrop($event)"
     id="lines-list" class="real-container" style="width: inherit;">
        <hr *ngIf="isTransliterationViewer && isEditMode && showActionButton() && showAddLines">
        <button *ngIf="isTransliterationViewer && isEditMode && showActionButton() && showAddLines" (click)="addLine(-1)" style="margin-bottom: 1em;" class="delete-line-button">
            Add line here
        </button>
        <span *ngFor="let line of letters; index as lineIndex; first as isFirst; last as isLast" style="display: flex; flex-direction: column;" 
            cdkDrag [cdkDragDisabled]="!dragLinesEnabled || !(isTransliterationViewer && isEditMode)" cdkDragBoundary=".real-container" dropContainer="lines-list">
            <hr style="margin: 0.3em" *ngIf="isEditMode && isFirst">
            <div class="lines-holder">
                
                <div style="display: flex; flex-direction: column; justify-content: space-between; margin-right: 1em;">
                    <div style="display: flex; flex-direction: row; align-items: center;">
                        <span style="font-weight: bold; margin-right: .5em;">{{lineIndex + 1}}. {{topLines != null && !isEditMode && showAkkademiaIcon ? " Akkademia" : ""}}</span>  
                        <mat-icon *ngIf="topLines != null && !isEditMode && showAkkademiaIcon" aria-hidden="false" class="robot-icon" 
                                    style="font-weight: bold; display: block; color: blue;"
                                    matTooltip="output of an AI" matTooltipHideDelay="100" matTooltipPosition="right">smart_toy</mat-icon> 
                    </div>
                    <mat-icon *ngIf="isLoadingPredictions" aria-hidden="false" class="robot-icon rotate" style="font-weight: bold; display: block; color: blue;">smart_toy</mat-icon> 
                    <span *ngIf="predictions && !isEditMode">Known Transliterations</span>
                    <div *ngIf="(predictions || lettersArePredictions) && !isEditMode" style="display: flex; flex-direction: row; align-items: center; align-items: flex-start;">
                        <span style="margin-bottom: .8em;">CuRe Unicode prediction</span> 
                        <mat-icon aria-hidden="false" class="robot-icon" style="font-weight: bold; display: block; color: blue; margin-right: .5em;"
                                    matTooltip="output of an AI" matTooltipHideDelay="100" matTooltipPosition="right">smart_toy</mat-icon> 
                    </div>
                </div>
                
                <div #bigHolder style="display: flex; flex-direction: column; width: 94%;">
                    <div #actionsHolder *ngIf="isTransliterationViewer && isEditMode && !showAddLines" style="margin-right: 1em;" >
                        <div #iconActionsHolder style="display: flex; margin-bottom: 0.4em; flex-direction: row">
                            <div style="display: flex; flex-direction: row; justify-content: center;">
    
                                <!-- <button *ngIf="showActionButton()" matTooltip="Repredict a sign" matTooltipHideDelay="100" matTooltipPosition="right"
                                (click)="setRepredictSignMode(lineIndex)" class="add-button" style="font-size: xxx-large;">
                                    <mat-icon aria-hidden="false" class="add-icon">psychology</mat-icon>
                                </button> -->
                                
                                <button *ngIf="showActionButton()" matTooltip="Edit a sign" matTooltipHideDelay="100" matTooltipPosition="right"
                                (click)="setEditSignMode(lineIndex)" class="add-button" style="font-size: xx-large;">
                                    <mat-icon aria-hidden="false" class="add-icon">edit</mat-icon>
                                </button>

                                <button *ngIf="showActionButton()" matTooltip="Mark a sign" matTooltipHideDelay="100" matTooltipPosition="right"
                                (click)="setMarkSignMode(lineIndex)" class="add-button" style="font-size: xx-large;">
                                    <mat-icon aria-hidden="false" class="add-icon">priority_high</mat-icon>
                                </button>

                                <button *ngIf="showActionButton()"  matTooltip="Add a sign" matTooltipHideDelay="100" matTooltipPosition="right"
                                 (click)="setAddToLineMode(lineIndex)" class="add-button" style="font-size: xx-large; margin-top: 0.1em;">
                                    <mat-icon aria-hidden="false" class="add-icon">add_circle_outline</mat-icon>
                                </button>

                                <button *ngIf="showActionButton()" matTooltip="Delete a sign" matTooltipHideDelay="100" matTooltipPosition="right"
                                (click)="setRemoveFromLineMode(lineIndex)" class="add-button" style="font-size: xx-large;">
                                    <mat-icon aria-hidden="false" class="add-icon">remove</mat-icon>
                                </button>
                    
                             
                                <button *ngIf="showActionButton()" matTooltip="Delete the line" matTooltipHideDelay="100" matTooltipPosition="right"
                                (click)="deleteLine(lineIndex)" class="add-button" style="font-size: xx-large;">
                                    <mat-icon aria-hidden="false" class="add-icon">delete_forever</mat-icon>
                                </button>
    
                            </div>
                           
                        </div>
                        
                        <div #actions style="display: flex; flex-direction: row;"
                            [style]="spaceBetweenCancel() ? 'justify-content: space-between;' : 'justify-content: flex-start'">
                        
                            <label class="action-label" *ngIf="activeSignDeleteLineIndex == lineIndex">Click on sign to delete it</label>
                            
                            <div class="cool-flex-box" *ngIf="activeAddSignPickerLineIndex == lineIndex">
                                <div *ngIf="!showAddCustomSign" style="display: flex; flex-direction: column;"> 
                                    <div class="cool-flex-box">
                                        <label class="action-label">Choose a sign to add</label>
                                        <smart-selector
                                        (selectionChange)="addPickerSelectionChanged($event, lineIndex)" [signs]="signs"
                                        [showCustomFont]="showCustomFont"
                                        class="child"
                                        style="align-self: center; margin-right: 2em;"></smart-selector>
                                    </div>
                                    <button class="cancel-button" style="margin-left: 2px; align-self: flex-start; margin-bottom: 0.5em;" 
                                    (click)="addPickerSelectionChanged(null, lineIndex)">Or Add an empty sign</button>
                                    <div style="display: flex; font-size: smaller; margin: 0.5em">
                                        <label class="action-label">Can't find the sign?</label>
                                        <button class="cancel-button" style="margin-left: 2px;" 
                                        *ngIf="!showAddCustomSign" (click)="showAddCustomSign = true">Click here</button>
                                    </div>
                              
    
                                   
                                </div>
                                <div *ngIf="showAddCustomSign" class="cool-flex-box" style="display: flex; flex-direction: column;">
                                    <label class="action-label" >Add a new class</label>
                                    <form class="example-form cool-flex-box" #addCategoryForm="ngForm" [formGroup]="group"
                                        style="margin: 1em; width: min-content; display: flex; flex-direction: column;">
                                        <mat-form-field class="example-full-width" appearance="fill">
                                          <mat-label>Sign</mat-label>
                                          <input matInput placeholder="eš₃" formControlName="cSignControl">
                                        </mat-form-field>
                                      
                                        <mat-form-field class="example-full-width" appearance="fill">
                                          <mat-label>Unicode</mat-label>
                                          <input matInput placeholder="𒀊" formControlName="cUnicodeControl">
                                        </mat-form-field>
                                        <button [disabled]="!addCategoryForm.valid"
                                        class="cancel-button" style="margin-left: 2px;" 
                                        (click)="addCustomSign(lineIndex)">Add</button>
                                    </form>
                                </div>
    
                            </div>
                            
                            <div *ngIf="activeSignEditorLineIndex == lineIndex">
                                <label class="action-label" *ngIf="activeEditSign == null">Pick a sign to edit it</label>
                                <div *ngIf="activeEditSign != null">
                                    <div *ngIf="editPickerInitialSelection == null" >
                                        <div *ngIf="activeEditSign.predictions" class="cool-flex-box">
                                            <label class="action-label" >Replace 
                                                <span style="font-family: Esagil; margin-right: 0.5em;">{{activeEditSign.symbol}}</span>
                                                with AI's guesses</label>
                                            <p id="line-list1"
                                             style="display: flex !important; width: fit-content; margin-left: 0px; background: transparent; border: none;" 
                                             class="example-list">
                                                <app-letter *ngFor="let letter of activeEditSign.predictions" #theletter 
                                                [LetterModel]="letter.letter" [probability]="letter.probability" class="example-box" [showSign]="false" [showCustomFont]="showCustomFont"
                                                [pointerCursor]="showSymbols" (letterClick)="onLetterClick(letter.letter)"
                                                [style.border]="theletter.getBorder()"
                                                [style.cursor]="theletter.getCursor()"
                                                (click)="initialEditPickerSelection(theletter.LetterModel, lineIndex)"
                                                (mouseover)="theletter.LetterModel.selected = true"
                                                (mouseout)="theletter.LetterModel.selected = false"></app-letter>
                                            </p>
                                        </div>
                                        <div class="cool-flex-box">
                                            <label class="action-label" style="margin-top: 0.5em;" >Replace 
                                                <span style="font-family: Esagil; margin-right: 0.5em;">{{activeEditSign.symbol}}</span>
                                                with other symbol
                                            </label>
                                            <smart-selector (selectionChange)="editPickerSelectionChangeSmartSelector($event, lineIndex)" 
                                            [signs]="signs" class="child" [showCustomFont]="showCustomFont"
                                            style="align-self: center; margin-right: 2em; display: block;"></smart-selector>
                                        </div>
                                        <div class="cool-flex-box">
                                            <label class="action-label" >Replace "{{activeEditSign.letter}}" with other reading of
                                                <span style="font-family: Esagil; margin-right: 0.5em;">{{activeEditSign.symbol}}</span>
                                                </label>
                                            <smart-selector (selectionChange)="editPickerReplaceSign($event, lineIndex)" [minLenToFilter]="0"
                                            [rawStates]="unicodesToSigns[activeEditSign.symbol]" class="child" [showCustomFont]="showCustomFont"
                                            style="align-self: center; margin-right: 2em;"></smart-selector>
                                        </div>
    
                                    </div>
                                    <div *ngIf="editPickerInitialSelection != null" class="cool-flex-box">
                                        <label class="action-label" >Selected 
                                            <span style="font-family: Esagil; margin-right: 0.5em;">{{editPickerInitialSelection.symbol}},</span>
                                            please select a reading
                                        </label>
                                        <smart-selector (selectionChange)="finalEditPickerSelection($event, lineIndex)" [minLenToFilter]="0"
                                        [rawStates]="unicodesToSigns[editPickerInitialSelection.symbol]" class="child" [showCustomFont]="showCustomFont"
                                        style="align-self: center; margin-right: 2em;"></smart-selector>
                                    </div>
                                </div>
                            </div>
                           
                            <div *ngIf="activeSignMarkLineIndex == lineIndex"
                                style="display: flex; flex-direction: column;">
                                <label class="action-label" style="margin-bottom: 0.5em;" *ngIf="activeEditSign == null">Pick a sign to mark it</label>
                                <div class="cool-flex-box">
                                    <label class="action-label" style="margin-bottom: 0.5em;" *ngIf="activeEditSign != null">Mark {{activeEditSign.symbol}} with...</label>
                                    <mat-form-field *ngIf="activeEditSign != null" appearance="fill">
                                        <mat-label style="margin-bottom: 1em;">Mark sign with...</mat-label>
                                        <mat-select [(value)]="activeEditSign.certainty" (selectionChange)="signMarkChanged($event)">
                                            <mat-option *ngFor="let markOption of certaintyOptions" [value]="markOption['certainty']" >
                                                {{markOption['certainty']}} ({{markOption['description']}})
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <button class="cancel-button" style="margin-bottom: 1em"
                                *ngIf="activeEditSign != null && activeEditSign.certainty != null"
                                (click)="clearMark()">Clear mark</button>
                            </div>
    
                            <div *ngIf="activeRepredictSignLineIndex == lineIndex">
                                <label class="action-label" style="margin-bottom: 0.5em;">Click a sign to get AI prediction for it</label>
                            </div>
    
                            <button *ngIf="getCancelButtonIndex() == lineIndex" (click)="cancel()" class="cancel-button"
                             style="font-size: medium; margin-left: 1em;">Stop
                            </button>
                        </div>
                     
        
                    </div>
                  
                    <div #linesHolder class="inner-lines-holder" style="overflow: scroll; transition: 1s; margin-top: 0.5em;">
        
                        <p *ngIf="topLines != null && !isEditMode" class="original-transliteration" [innerHTML]="topLines[lineIndex]">
                        </p>

                        <textarea *ngIf="topLines != null && isEditMode" type="text" [(ngModel)]="topLines[lineIndex]" style="font-size: 1em;
                        align-self: center; width: 100%; overflow-y: hidden; height: 2em !important;"></textarea>
    
                        <p cdkDropList  id="line-list1" cdkDropListOrientation="horizontal" (cdkDropListDropped)="signDrop($event, lineIndex)"
                            style="display: flex !important; width: fit-content; margin-left: 0px;" 
                            class="example-list"
                            [style.background-color]="getBackgroundColor(lineIndex)"
                            [style.border]="getBorder(lineIndex)">
        
                            <app-letter *ngFor="let letter of line" #theletter 
                            cdkDrag cdkDragBoundary=".example-list"  dropContainer="line-list1" [cdkDragDisabled]="!(isTransliterationViewer && isEditMode)"
                            [LetterModel]="letter" class="example-box" [showCustomFont]="showCustomFont"
                            (toggle)="onLetterToggle($event)" [pointerCursor]="showSymbols" (letterClick)="onLetterClick(letter)"
                            [style.border]="theletter.getBorder()"
                            [style.cursor]="theletter.getCursor()"
                            [showSign]="showLetters"
                            (click)="theletter.onClick()" (mouseenter)="theletter.enter($event)" (mouseleave)="theletter.leave($event)"></app-letter>
                        </p>
    
                        <p *ngIf="predictions" id="line-list1" style="display: flex !important; width: fit-content; margin-left: 0px;" class="example-list"
                        [style.background-color]="getBackgroundColor(lineIndex)"
                        [style.border]="getBorder(lineIndex)">
                            <app-letter *ngFor="let letter of predictions[lineIndex]" #theletter 
                            [LetterModel]="letter" class="example-box" [showSign]="false" [showCustomFont]="showCustomFont"
                            (toggle)="onLetterToggle($event)" [pointerCursor]="showSymbols" (letterClick)="onLetterClick(letter)"
                            [style.border]="theletter.getBorder()"
                            [style.cursor]="theletter.getCursor()"
                            (click)="theletter.onClick()" (mouseenter)="theletter.enter($event)" (mouseleave)="theletter.leave($event)"></app-letter>
                        </p>
            
                        <span class="comment" *ngIf="isBadLine(lineIndex)"
                             style="white-space: pre-line; display: flex; border-radius: 0.5em;
                              padding: 0.3em; width: fit-content; margin-top: 0.5em;">
                            <mat-icon aria-hidden="false" class="add-icon">error</mat-icon>
                            <span>{{getBadLineMessage(lineIndex)}}</span></span>
                    </div>

                </div>
                
            </div>
            <hr>
            <button *ngIf="isTransliterationViewer && isEditMode && showActionButton() && showAddLines" (click)="addLine(lineIndex)" style="margin-bottom: 1em;" class="delete-line-button">
                Add line here
            </button>
            <hr *ngIf="isTransliterationViewer && isEditMode && showActionButton() && showAddLines && !isLast">
        </span>
    </div>
 


</div>

